<p>
  about works!
</p>

<div fxFlex="40">
  <md-card *ngFor="let leader of leaders">
    <md-card-header>
      <md-card-title>
        <h3>{{leader.name}}</h3>
      </md-card-title>
    </md-card-header>
    <img md-card-image src={{leader.image}} alt={{leader.name}}>
    <md-card-content>
      <p> {{ leader.description }} </p>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)="goBack()">BACK</button>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>
