<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <md-grid-list cols="2" rowHeight="200px">
      <md-grid-tile *ngFor="let dish of dishes" (click)="onSelect(dish)">
        <img height="200px" src={{dish.image}} alt={{dish.name}}>
        <md-grid-tile-footer>
          <h1 md-line>{{dish.name | uppercase}}</h1>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>

  <!-- selectedDish 由 menu.component.ts 里的 onSelect() 赋值，然后赋值给 dish 这个 property，传进 app-dish-detail -->
  <!-- app-dish-detail 如何获取 dish 这个 property 的所有信息？使用 Input Module -->
  <app-dish-detail [dish]="selectedDish"></app-dish-detail>
</div>
